:root {
  --el-button-border-color: #dcdfe6;
  --el-button-font-weight: 500;
  --el-font-size-base: 14px;
  --el-button-hover-text-color: #409eff;
  --el-button-hover-border-color: #c6e2ff;
  --el-button-hover-bg-color: #ecf5ff;
}

.el-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--el-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: var(--el-button-font-weight);
  user-select: none;
  vertical-align: middle;
  background-color: var(--el-button-bg-color);
  border: 1px solid #dcdfe6;
  border-color: var(--el-button-border-color);
  padding: 8px 15px;
  font-size: var(--el-font-size-base);
  border-radius: 4px;
}

.el-button:hover, .el-button:focus {
  color: var(--el-button-hover-text-color);
  border-color: var(--el-button-hover-border-color);
  background-color: var(--el-button-hover-bg-color);
  outline: none;
}

.el-button--primary {
  --el-button-text-color: #ffffff;
  --el-button-bg-color: #409eff;
  --el-button-border-color: #409eff;
  --el-button-outline-color: #a0cfff;
  --el-button-hover-text-color: #fff;
  --el-button-hover-border-color: #66b1ff;
  --el-button-hover-bg-color: #3a8ee6;
}

.el-button--success {
  --el-button-text-color: #ffffff;
  --el-button-bg-color: #67c23a;
  --el-button-border-color: #67c23a;
  --el-button-outline-color: #b3e19d;
  --el-button-hover-text-color: #fff;
  --el-button-hover-border-color: #85ce61;
  --el-button-hover-bg-color: #5daf35;
}

.el-button--info {
  --el-button-text-color: #ffffff;
  --el-button-bg-color: #909399;
  --el-button-border-color: #909399;
  --el-button-outline-color: #c8c9cc;
  --el-button-hover-text-color: #fff;
  --el-button-hover-border-color: #a6a9ad;
  --el-button-hover-bg-color: #82848a;
}

.el-button--warning {
  --el-button-text-color: #ffffff;
  --el-button-bg-color: #e6a23c;
  --el-button-border-color: #e6a23c;
  --el-button-outline-color: #edd0b4;
  --el-button-hover-text-color: #fff;
  --el-button-hover-border-color: #ebb563;
  --el-button-hover-bg-color: #d89d34;
}

.el-button--danger {
  --el-button-text-color: #ffffff;
  --el-button-bg-color: #f56c6c;
  --el-button-border-color: #f56c6c;
  --el-button-outline-color: #fbc4c4;
  --el-button-hover-text-color: #fff;
  --el-button-hover-border-color: #f78989;
  --el-button-hover-bg-color: #ec5252;
}
